 body {
    padding-left: 20em;
    
     font-family: Georgia, "Times New Roman",
          Times, serif;
    size: 1;
    color: #061366;
    background-color: #59d5f7 }
     ul.navbar {
       list-style-type: none;
    padding: 20;
    margin: 10;
    position: absolute;
    top: 2.5em;
    left: 1.5em;
    width: 12em }
    h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
     ul.navbar li {
    background: white;
    margin: 1em 0;
    padding: 0.3em;
    border-right: 1em solid black }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: blue }
  a:visited {
    color: purple }
    address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
